@import '../../constants.module.scss';

.main{
  @include containerDefault;
  align-items: flex-start;
  flex-direction: row;
  gap: 20px;
  height: unset;
  @media only screen and (max-width: $tablet){
    flex-direction: column
  }
}
.title{
  font-size: 40px;
  font-weight: 500;
  margin: 0;
}
.productsContainer{
  display: flex;
  flex-wrap: wrap;
  gap:16px;
  @media only screen and (max-width: $tablet){
    gap:8px;
  }
}


